# Cosmos DB config
COSMOS_ENDPOINT=
COSMOS_KEY=
COSMOS_DATABASE=portfolio
COSMOS_CONTAINER=posts

# Azure Blob Storage config
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=blog-images

# AUTH0 CONFIGS
APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# 64 character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production,
# generate your own secret using `openssl rand -hex 32`
AUTH0_SECRET=

AUTH0_ROLES_CLAIM=https://portfolio.local/roles
NEXT_PUBLIC_AUTH0_ROLES_CLAIM=https://portfolio.local/roles

# emailjs config
NEXT_PUBLIC_SERVICEID=
NEXT_PUBLIC_TEMPLATEID=
NEXT_PUBLIC_USERID=
